body
{
    background-color: white;
}

label
{
    width: 40px;
    float: left;
    text-align: right;
    margin-right: 60px;
    display: block;
}

.submit input
{
    margin-left: 4.5em;
}
input
{
    color: #660000;
    background: #fee3ad;
    border: 1px solid #660000
}

.submit input
{
    color: #ffffff;
    background: #660000;
    border: 2px outset #d7b9c9
}
fieldset
{
    border: 1px solid #660000;
    
    width: 20em
}

legend
{
    color: #fff;
    background: #660000;
    border: 1px solid #d7b9c9;
    padding: 2px 6px
}

a
{
 color: #660000;
}

#inputArea
{
    width: auto;
    height: auto;
    right: 40%;
    top: 130px;
    position: absolute;
    background-color: white;
}
